<p>{{ name }}</p>
<p>{{ user | json }}</p>
<p>{{user.firstName}}</p>
<p>{{user.firstName | uppercase }}</p>
<p>{{user.lastName | lowercase }}</p>

{{ number | currency }}
{{ 5 + 5 | currency }}

<input [value]='number'>
<input value='number'>

<h4 *ngIf="loggedIn">You are logged in</h4>
<h4 *ngIf="!loggedIn">Who the hell are you?</h4>

<h3 *ngFor="let number of numbers">{{number}}</h3>

<span [ngStyle]="{'color': 'red', 'font-weight': 'bold'}">NgStyle!</span>

<h3 [ngStyle]="{'background-color': color}">Other NgStyle!</h3>

<button (click)="onclick($event)">Click me!!</button>


<form (submit)="onSubmit()">
  <input type="text" name="email" [(ngModel)]="user.email">
  <input type="submit">
</form>